<section id="get-started" class="get-started">
    <div class="container get-started__container">
        <div class="get-started__form-wrapper">
            <h4 class="get-started__form-title heading-h4">
                Let’s level up your brand
            </h4>
            <p class="get-started__form-text text-p-medium">
                You can reach us anytime
                <a
                    href="mailto:hellosansbrothers@gmail.com"
                    class="get-started__form-email"
                    >hellosansbrothers@gmail.com</a
                >
            </p>
            <form class="get-started__form">
                <div class="get-started__form-top">
                    <label class="get-started__form-label text-p-small"
                        >First name
                        <input
                            type="text"
                            class="get-started__form-input text-p-small"
                            required
                            placeholder="First name"
                        />
                    </label>
                    <label class="get-started__form-label text-p-small"
                        >Last name
                        <input
                            type="text"
                            class="get-started__form-input text-p-small"
                            required
                            placeholder="Last name"
                        />
                    </label>
                </div>
                <label class="get-started__form-label text-p-small"
                    ><span class="get-started__form-label-text text-p-small"></span>
                        Yuor Email</span
                    >
                    <input
                        type="email"
                        class="get-started__form-input get-started__form-input--email text-p-small"
                        required
                        placeholder="you@company.com"
                    />
                </label>
                <label class="get-started__form-label"
                    ><span class="get-started__form-label-text text-p-small"
                        >Your Phone number</span
                    >
                    <input
                        id="phone"
                        type="tel"
                        class="get-started__form-input get-started__form-input--tel text-p-small"
                        required
                        placeholder="+7 (555) 000-0000"
                    />
                </label>
                <label class="get-started__form-label text-p-small"
                    ><span class="get-started__form-label-textarea text-p-small"
                        >Message</span
                    >
                    <textarea
                        class="get-started__form-label-text-area"
                        placeholder="Leave us a message..."
                    ></textarea>
                </label>
                <button class="get-started__form-btn text-p-default">
                    Get Started
                </button>
            </form>
        </div>
        <img
            class="get-started__img"
            loading="lazy"
            src="./assets/images/get-started-Image.jpg"
            width="988"
            height="885"
            alt=""
        />
    </div>
</section>
