<section class="map">
    <div class="container">
        <h1 class="map__title heading-h1">Contact our team to find out more</h1>
        <div class="map__mapyandex">
            <img
                loading="lazy"
                class="map__world"
                src="../assets/images/map.svg"
                width="987"
                height="545"
                alt=""
            />
            <ul class="map__contacts">
                <li class="map__contacts-item">
                    <h4 class="map__contacts-title text-p-large">Support</h4>
                    <p class="map__contacts-text text-p-default">
                        Our friendly team is here to help.
                    </p>
                    <a
                        href="mailto:support@sans.com"
                        class="map__contacts-email text-p-default"
                        >support@sans.com</a
                    >
                </li>
                <li class="map__contacts-item">
                    <h4 class="map__contacts-title text-p-large">Sales</h4>
                    <p class="map__contacts-text text-p-default">
                        Questions or queries? Get in touch!
                    </p>
                    <a
                        href="mailto:support@sans.com"
                        class="map__contacts-email text-p-default"
                        >sales@sans.com</a
                    >
                </li>
                <li class="map__contacts-item">
                    <h4 class="map__contacts-title text-p-large">Phone</h4>
                    <p class="map__contacts-text text-p-default">
                        Mon-Fri from 8am to 5pm.
                    </p>
                    <a
                        href="tel:+14353457655"
                        class="map__contacts-email text-p-default"
                        >+1 (435) 345-7655</a
                    >
                </li>
            </ul>
        </div>
    </div>
</section>
