.partners {
    padding: 64px 0 54px;

    @include mobile {
        padding: 46px 0 22px;
    }

    &__container {
        @include flex-all-between;
        gap: 30px;
        max-width: 1110px;

        @include small-tablet {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }

    &__title {
        @include flex-column-all-center;
        max-width: 323px;
        font-weight: 500;
        line-height: 178%;
        text-align: center;
        color: var(--neutral-color-150);
    }

    &__num {
        display: block;
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: var(--neutral-color-100);
    }

    &__list {
        @include flex-all-center;
        gap: 10px 30px;
        flex-wrap: wrap;

        @include mobile {
            display: none;
        }
    }

    &__item {
        @include flex-column-all-center;
        border-radius: 16px;
        width: 160px;
        height: 90px;
        background: #fff;
    }

    &__slider-wrapper {
        display: none;

        @include mobile {
            display: block;
        }
    }

    &__slider {
        @include mobile {
            max-width: 500px;
        }

        @include small-mobile {
            max-width: 340px;
        }
    }

    &__slide-item {
        @include mobile {
            @include flex-column-all-center;
            border-radius: 16px;
            width: 160px;
            height: 90px;
            background: #fff;
        }

        @include small-mobile {
            width: 110px;
            height: 70px;
        }
    }
}
