<footer class="footer">
    <div class="container">
        <div class="footer__head">
            <div class="footer__head-info">
                <h2 class="footer__title">Think beyond the wave</h2>
                <p class="footer__text text-p-medium">
                    Ask about Sans products, pricing, implementation, or
                    anything else. Our highly trained reps are standing by,
                    ready to help
                </p>
            </div>
            <a href="#" class="footer__btn button-form">Try for free</a>
        </div>
        <div class="footer__body">
            <div class="footer__body-left">
                <a href="/" class="footer__logo" aria-label="Home page">
                    <img
                        loading="lazy"
                        src="./assets/icons/light-logo-footer.svg"
                        width="140"
                        height="66"
                        alt="logo footer"
                        class="footer__logo-img"
                    />
                </a>
                <p class="footer__body-text text-p-default">
                    We built an elegant solution. Our team created a fully
                    integrated sales and marketing solution for SMBs
                </p>
            </div>
            <nav class="footer__nav">
                <ul class="footer__list">
                    <li class="footer__item">
                        <h4 class="footer__item-title text-p-default">
                            Company
                        </h4>
                        <ul class="footer__sublist">
                            <li class="footer__subitem">
                                <a
                                    href="/about.html"
                                    class="footer__subitem-link"
                                    >About</a
                                >
                            </li>
                            <li class="footer__subitem">
                                <a
                                    href="/pricing.html"
                                    class="footer__subitem-link"
                                    >Pricing</a
                                >
                            </li>
                            <li class="footer__subitem">
                                <a
                                    href="/jobs.html"
                                    class="footer__subitem-link"
                                    >Jobs</a
                                >
                            </li>
                            <li class="footer__subitem">
                                <a
                                    href="/blog.html"
                                    class="footer__subitem-link"
                                    >Blog</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li class="footer__item">
                        <h4 class="footer__item-title text-p-default">
                            Product
                        </h4>
                        <ul class="footer__sublist">
                            <li class="footer__subitem">
                                <a href="#" class="footer__subitem-link"
                                    >Sales Software</a
                                >
                            </li>
                            <li class="footer__subitem">
                                <a href="#" class="footer__subitem-link"
                                    >Marketplace</a
                                >
                            </li>
                            <li class="footer__subitem">
                                <a href="#" class="footer__subitem-link"
                                    >Terms & Conditions</a
                                >
                            </li>
                            <li class="footer__subitem">
                                <a href="#" class="footer__subitem-link"
                                    >Privacy Policy</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li class="footer__item">
                        <h4 class="footer__item-title text-p-default">
                            Discover
                        </h4>
                        <ul class="footer__sublist">
                            <li class="footer__subitem">
                                <a href="#" class="footer__subitem-link"
                                    >CRM Comparision</a
                                >
                            </li>
                            <li class="footer__subitem">
                                <a href="#" class="footer__subitem-link"
                                    >Partner Program</a
                                >
                            </li>
                            <li class="footer__subitem">
                                <a href="#" class="footer__subitem-link"
                                    >What is CRM</a
                                >
                            </li>
                            <li class="footer__subitem">
                                <a href="#" class="footer__subitem-link"
                                    >Resource</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li class="footer__item">
                        <h4 class="footer__item-title text-p-default">
                            Help Center
                        </h4>
                        <ul class="footer__sublist">
                            <li class="footer__subitem">
                                <a href="#" class="footer__subitem-link"
                                    >Community</a
                                >
                            </li>
                            <li class="footer__subitem">
                                <a href="#" class="footer__subitem-link"
                                    >Knowledge Base</a
                                >
                            </li>
                            <li class="footer__subitem">
                                <a href="#" class="footer__subitem-link"
                                    >Academy</a
                                >
                            </li>
                            <li class="footer__subitem">
                                <a href="#" class="footer__subitem-link"
                                    >Support</a
                                >
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer__bottom">
            <div class="footer__bottom-lists">
                <ul class="footer__socil-list">
                    <li class="footer__socil-item">
                        <a href="#" class="footer__socil-link">
                            <img
                                loading="lazy"
                                width="20"
                                height="20"
                                src="./assets/icons/facebook.svg"
                                alt=""
                            />
                        </a>
                    </li>
                    <li class="footer__socil-item">
                        <a href="#" class="footer__socil-link">
                            <img
                                loading="lazy"
                                src="./assets/icons/twitter.svg"
                                width="20"
                                height="18"
                                alt=""
                            />
                        </a>
                    </li>
                    <li class="footer__socil-item">
                        <a href="#" class="footer__socil-link">
                            <img
                                loading="lazy"
                                src="./assets/icons/instagramm.svg"
                                width="20"
                                height="20"
                                alt=""
                            />
                        </a>
                    </li>
                    <li class="footer__socil-item">
                        <a href="#" class="footer__socil-link">
                            <img
                                loading="lazy"
                                src="./assets/icons/pinterest.svg"
                                width="20"
                                height="20"
                                alt=""
                            />
                        </a>
                    </li>
                </ul>
                <ul class="footer__privacy-list">
                    <li class="footer__privacy-item">
                        <a href="#" class="footer__privacy-link"
                            >Privacy Policy</a
                        >
                    </li>
                    <li class="footer__privacy-item">
                        <a href="#" class="footer__privacy-link"
                            >Terms & Conditions</a
                        >
                    </li>
                    <li class="footer__privacy-item">
                        <a href="#" class="footer__privacy-link">Support</a>
                    </li>
                </ul>
            </div>
            <p class="footer__copyright">
                © Copyright 2023,t All Rights Reserved
            </p>
        </div>
    </div>
</footer>
