<section class="insight">
    <div class="container insight__container">
        <h2 class="insight__title heading-h2">Trending news from Coca</h2>
        <p class="insight__text text-p-medium">
            we have some new Service to pamper you
        </p>
        
        <div class="swiper insight__slider">
            <div class="insight__slider-arrow">
                <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.0003 2.33398L25.667 9.00065L19.0003 15.6673M9.00032 15.6673L2.33366 9.00065L9.00032 2.33398" stroke="#7E8492" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide insight__article">
                    <img 
                    loading="lazy"
                    class="insight__article-img"
                    src="./assets/images/insight-slide1.jpg"
                    width="582"
                    height="332"
                    alt="Woman typing on laptop">
                    <div class="insight__article-head">
                        <div class="insight__article-date text-p-small">Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time></div>
                        <address class="insight__article-author text-p-small">by : Albert Sans</address>
                    </div>
                    <h2 class="insight__article-title heading-h5">What makes an authentic employee profile, and why does it matter ?</h2>
                </div>
                <div class="swiper-slide insight__article">
                    <img 
                    loading="lazy"
                    class="insight__article-img"
                    src="./assets/images/insight-slide2.jpg"
                    width="582"
                    height="332"
                    alt="Woman typing on laptop">
                    <div class="insight__article-head">
                        <div class="insight__article-date text-p-small">Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time></div>
                        <address class="insight__article-author text-p-small">by : Albert Sans</address>
                    </div>
                    <h2 class="insight__article-title heading-h5">How to build a Kaylen relationship with a good company</h2>
                </div>
                <div class="swiper-slide insight__article">
                    <img 
                    loading="lazy"
                    class="insight__article-img"
                    src="./assets/images/insight-slide1.jpg"
                    width="582"
                    height="332"
                    alt="Woman typing on laptop">
                    <div class="insight__article-head">
                        <div class="insight__article-date text-p-small">Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time></div>
                        <address class="insight__article-author text-p-small">by : Albert Sans</address>
                    </div>
                    <h2 class="insight__article-title heading-h5">What makes an authentic employee profile, and why does it matter ?</h2>
                </div>
                <div class="swiper-slide insight__article">
                    <img 
                    loading="lazy"
                    class="insight__article-img"
                    src="./assets/images/insight-slide2.jpg"
                    width="582"
                    height="332"
                    alt="Woman typing on laptop">
                    <div class="insight__article-head">
                        <div class="insight__article-date text-p-small">Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time></div>
                        <address class="insight__article-author text-p-small">by : Albert Sans</address>
                    </div>
                    <h2 class="insight__article-title heading-h5">How to build a Kaylen relationship with a good company</h2>
                </div>
                
        </div>
    </div>
</section>
