<section class="testimonials">
    <div class="container">
        <div class="testimonials__head">
            <h2 class="testimonials__title heading-h2">
                What our customer are saying
            </h2>
            <p class="testimonials__text text-p-medium">
                We are trusted numerous companies from different business to
                meet their needs
            </p>
        </div>
        <div class="testimonials__slider-wrapper">
            <div class="swiper testimonials__slider">
                <div class="swiper-wrapper testimonials__comments">
                    <div class="swiper-slide testimonials__comment">
                        <div class="testimonials__rating">
                            <img
                                loading="lazy"
                                src="./assets/icons/rating-icon.svg"
                                width="132"
                                height="20"
                                alt="rating"
                            />
                            <span
                                class="testimonials__rating-num text-p-default"
                                >5.0</span
                            >
                        </div>
                        <p class="testimonials__comment-text heading-h3">
                            “With Agency the results are very satisfying.
                            wrapped with Hight quality and innovative design
                            that makes a surge of visitors on my website”
                        </p>
                        <div class="testimonials__comment-author">
                            <img
                                loading="lazy"
                                src="./assets/icons/author-avatar.svg"
                                width="56"
                                height="56"
                                alt=""
                            />
                            <div class="testimonials__comment-info">
                                <p
                                    class="testimonials__comment-name text-p-medium"
                                >
                                    Renee Wells
                                </p>
                                <p
                                    class="testimonials__comment-job text-p-default"
                                >
                                    Product Designer, Quotient
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide testimonials__comment">
                        <div class="testimonials__rating">
                            <img
                                loading="lazy"
                                src="./assets/icons/rating-icon.svg"
                                width="132"
                                height="20"
                                alt="rating"
                            />
                            <span
                                class="testimonials__rating-num text-p-default"
                                >5.0</span
                            >
                        </div>
                        <p class="testimonials__comment-text heading-h3">
                            “With Agency the results are very satisfying.
                            wrapped with Hight quality and innovative design
                            that makes a surge of visitors on my website”
                        </p>
                        <div class="testimonials__comment-author">
                            <img
                                loading="lazy"
                                src="./assets/icons/author-avatar.svg"
                                width="56"
                                height="56"
                                alt=""
                            />
                            <div class="testimonials__comment-info">
                                <p
                                    class="testimonials__comment-name text-p-medium"
                                >
                                    Renee Wells
                                </p>
                                <p
                                    class="testimonials__comment-job text-p-default"
                                >
                                    Product Designer, Quotient
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide testimonials__comment">
                        <div class="testimonials__rating">
                            <img
                                loading="lazy"
                                src="./assets/icons/rating-icon.svg"
                                width="132"
                                height="20"
                                alt="rating"
                            />
                            <span
                                class="testimonials__rating-num text-p-default"
                                >5.0</span
                            >
                        </div>
                        <p class="testimonials__comment-text heading-h3">
                            “With Agency the results are very satisfying.
                            wrapped with Hight quality and innovative design
                            that makes a surge of visitors on my website”
                        </p>
                        <div class="testimonials__comment-author">
                            <img
                                loading="lazy"
                                src="./assets/icons/author-avatar.svg"
                                width="56"
                                height="56"
                                alt=""
                            />
                            <div class="testimonials__comment-info">
                                <p
                                    class="testimonials__comment-name text-p-medium"
                                >
                                    Renee Wells
                                </p>
                                <p
                                    class="testimonials__comment-job text-p-default"
                                >
                                    Product Designer, Quotient
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonials__btns">
                <button class="testimonials__btn testimonials__btn--prev">
                    <svg
                        width="16"
                        height="14"
                        viewBox="0 0 16 14"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M7.73659 13.0372C7.38512 13.3886 6.81527 13.3886 6.4638 13.0372L1.0638 7.63718C0.712326 7.2857 0.712326 6.71585 1.0638 6.36438L6.4638 0.964384C6.81527 0.612912 7.38512 0.612912 7.73659 0.964384C8.08806 1.31586 8.08806 1.8857 7.73659 2.23718L3.87299 6.10078L14.3002 6.10078C14.7973 6.10078 15.2002 6.50372 15.2002 7.00078C15.2002 7.49784 14.7973 7.90078 14.3002 7.90078L3.87299 7.90078L7.73659 11.7644C8.08806 12.1159 8.08806 12.6857 7.73659 13.0372Z"
                            fill="#CED1D8"
                        />
                    </svg>
                </button>
                <button class="testimonials__btn testimonials__btn--next">
                    <svg
                        width="16"
                        height="14"
                        viewBox="0 0 16 14"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M7.73659 13.0372C7.38512 13.3886 6.81527 13.3886 6.4638 13.0372L1.0638 7.63718C0.712326 7.2857 0.712326 6.71585 1.0638 6.36438L6.4638 0.964384C6.81527 0.612912 7.38512 0.612912 7.73659 0.964384C8.08806 1.31586 8.08806 1.8857 7.73659 2.23718L3.87299 6.10078L14.3002 6.10078C14.7973 6.10078 15.2002 6.50372 15.2002 7.00078C15.2002 7.49784 14.7973 7.90078 14.3002 7.90078L3.87299 7.90078L7.73659 11.7644C8.08806 12.1159 8.08806 12.6857 7.73659 13.0372Z"
                            fill="#CED1D8"
                        />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
